<!-- Main launcher for Ghost camera 

-Starts a nodelet manager
-Launches the camera (through an include)
-Launches the image_proc nodelet

-->
<launch>
  
  <!-- Set the names of the camera and nodelet 
  (everything will be pushed into the camera namespace) -->
	<arg name="camera"        value="ghost_cam" />
	<arg name="manager"       value="camera_manager" />
  
  <!-- Nodelet manager for the camera-->
	<node 
    pkg="nodelet" 
    type="nodelet" 
    name="$(arg manager)" 
    args="manager" 
    output="screen"
  />
  
  <!-- Realsense camera -->
  <include file="$(find ghost)/launch/camera/includes/realsense.launch.xml">
    <arg name="manager"      value="$(arg manager)" />
    <arg name="camera"       value="$(arg camera)" />
  </include>

  <!-- Rectify image topics -->
  <node 
    pkg="nodelet" 
    type="nodelet" 
    name="rectify" 
    args="load image_proc/rectify $(arg manager)" 
    output="screen">
    <remap from="image_mono" to="$(arg camera)/image_raw"/> 
    <remap from="image_rect" to="$(arg camera)/image_rect"/> 
  </node>

</launch>