<!-- For saving frames from a bag file 

    -Images are saved at ~5Hz
-->

<launch>
  
  <arg name="bag"           default="" />
  <arg name="out_name"      default="" />
  
  <node  
    pkg="rosbag" 
    type="play" 
    name="rosbag" 
    args="-d 2 $(find ghost)/bagfiles/$(arg bag).bag"
  />
  
  <node 
    name="extract" 
    pkg="image_view" 
    type="extract_images" 
    respawn="false" 
    output="screen" 
    cwd="ROS_HOME">
    <remap from="image" to="/camera/color/image_raw"/>
    <param name="sec_per_frame"   value="0.2" />
    <param name="filename_format" value="$(find ghost)/training_images/$(arg out_name)_%06i.jpg"/>
  </node>
</launch>

