<!-- Launcher for ghost car

Includes:
  -Car parameters
  -URDF model
  -Arduino
  -Odometry integration
-->

<launch>

  <!-- Load the car parameters -->
  <rosparam
      file="$(find ghost)/param/car_params.yaml"
      command="load"
  />

  <!-- Load URDF file -->
  <include file="$(find ghost)/launch/state_publisher.launch" />

  <!-- Start the communication with the car hardware -->
  <include file="$(find ghost)/launch/car_interface.launch" />

  <!-- Node for estimating odometry by integrating velocity -->
  <node
    pkg="ghost"
    type="odometry_integration"
    name="odometry_integration"
    output="screen"
  />

</launch>
