<!-- Launcher for ghost car

Includes:
  -Car parameters
  -URDF model
  -Arduino
  -Odometry integration
  -IMU
  -Camera
  -Lane detection
-->

<launch>

  <!-- Core car nodes -->
  <include file="$(find ghost)/launch/car_minimal.launch" />

  <!-- IMU node -->
  <include file="$(find ghost)/launch/imu.launch" />

  <!-- EKF -->
  <include file="$(find ghost)/launch/ekf.launch" />

</launch>
