<!-- Launcher for ghost car

Includes:
  -Car parameters
  -URDF model
  -Arduino
  -Odometry integration
  -IMU
  -Camera
  -Lane detection
-->

<launch>
  
  <!-- Run onboard, or locally -->
  <arg name="onboard"  default="true" />
  
  <!-- Core car nodes -->
  <include file="$(find ghost)/launch/car_minimal.launch" >
    <arg name="onboard" value="$(arg onboard)"/>
  </include>
  
  <!-- IMU node -->
  <include file="$(find ghost)/launch/imu.launch" >
    <arg name="onboard" value="$(arg onboard)"/>
  </include>
  
  <!-- EKF -->
  <include file="$(find ghost)/launch/ekf.launch" >
    <arg name="onboard" value="$(arg onboard)"/>
  </include>
  
</launch>
