<!-- Lane detector node

  Subsribes to topic "image_rect_mono"
-->

<launch>
  
  <!-- Parameters -->
  <rosparam file="$(find ghost)/param/lane_detector_params.yaml" command="load"/>
  
  <!-- Lane detector -->
  <node
    pkg="ghost" 
    type="lane_detector_node" 
    name="lane_detector" 
    output="screen">
    <remap from="image_rect_mono" to="camera/image_rect_mono" /> 
  </node>

</launch>