<!-- Main launcher the Lane Detector

Includes:
  -Camera (containing nodelet manager and processing nodes)
  -Lane detector nodelet
     -Subscribes to image_rect_mono
-->
<launch>
  
  <!-- Set the names of the camera and nodelet manager-->
  <arg name="camera_name"  value="camera" />
  <arg name="manager"      value="camera_nodelet_manager" />
  
  <!-- Camera -->
  <include file="$(find ghost)/launch/camera.launch" >
    <arg name="manager"      value="$(arg manager)" />
    <arg name="camera_name"  value="$(arg camera_name)" />
  </include>
  
  <!-- Parameters -->
  <rosparam file="$(find ghost)/param/lane_detector_params.yaml" command="load"/>
  
  <!-- Lane Detector -->
  <node 
    pkg="nodelet" 
    type="nodelet" 
    name="lane_detector" 
    args="load ghost/LaneDetector $(arg camera_name)/$(arg manager)" 
    output="screen">
    <!--<remap from="image_rect_mono" to="something/else"/>-->
  </node>

</launch>