<!-- Main launcher the Lane Detector

-Assumes a nodelet manager is already running
-->
<launch>
  
  <!-- Set the names of the camera and nodelet -->
  <arg name="camera"        value="camera" />
  <arg name="manager"       value="camera_manager" />
  
  <!-- Lane Detector -->
  <node 
    pkg="nodelet" 
    type="nodelet" 
    name="lane_detector" 
    args="load ghost/LaneDetector $(arg manager)" 
    output="screen">
    <remap from="image_rect_mono" to="$(arg camera)/color/image_rect"/>
  </node>

  <!-- Load the parameters -->
  <rosparam 
      file="$(find ghost)/param/lane_detector_params.yaml"
      command="load"/>

</launch>